.import-gl-accounts-sheet {
  width: 100%;

  background-color: #212121;
  thead tr td {
    position: relative;

    padding: 10px 35px 10px 15px;

    text-align: left !important;
  }
  tr {
    .editor {
      padding: 0 !important;
    }
  }
  .jexcel_dropdown {
    position: relative;
  }
  .jdropdown-default {
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparent;
    .jdropdown-header {
      padding: 8px 15px !important;

      font-size: 14px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      color: #ffffff;

      background-color: #1e1e1e;
    }
    .jdropdown-content {
      background-color: #1e1e1e;
      border-color: rgba(255, 255, 255, 0.4);
    }
    .jdropdown-item {
      margin-top: 1px;
      padding: 8px 16px;

      color: #ffffff;
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
    .jdropdown-cursor {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
  .jexcel > tbody > tr > td {
    input {
      padding: 8px 15px;

      font-size: 14px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
  }
}
.theme-dark,
.theme-yellow {
  .import-gl-accounts-sheet {
    .jexcel > tbody > tr > td {
      input {
        padding: 8px 15px;

        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}
.theme-light {
  .import-gl-accounts-sheet {
    background-color: #f3f3f3;
    .jdropdown-header,
    .jdropdown-content {
      background-color: #ffffff;
    }
    .jdropdown-content {
      border-color: rgba(0, 0, 0, 0.4);
    }
    .jdropdown-default {
      .jdropdown-item {
        color: rgba(0, 0, 0, 0.87);
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
      .jdropdown-selected {
        filter: grayscale(0) brightness(0);
      }
    }
  }
}
