body {
  background-color: #292929;
}
.login-signup-form {
  margin: auto;

  background-color: #ffffff;
  border-radius: 10px;
}
.fp-img-container {
  text-align: center;
}
.forgot-password-img {
  margin: auto;
}
